


.btn-1{
    color:white;
    background-color: #E76F51;

    border-radius: 4px;
    border: none;
    padding: 9px 25px;
}
.border-radius{
    border-radius:20px;
}
.color-text{
    color:orangered
}
/* h1{
    color: #363958;} */
    .header-bg{
        background-color: #264653;;
    }
    .h1-black{
        color:black;font-weight: 600;
    }
.paragraph{
    color: #e0e0e0; font-size: small
}
.color-text{
    color:#E76F51, 100%
}
.grayscale img{
    filter:grayscale(100%)
}
.icon-color{
    color:#E77C40;
}